body#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.auth {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &>form {
    display: flex;
    flex-direction: column;
  }
}