:root {
  font-size: 16px;
}

body:not(#auth) {
  padding: 0;
  margin: 0;
}

/* dialog {
  padding: 0;
  margin: 0;
} */

li {
  list-style: none;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: antiquewhite;
}

#explorer {
  background-color: bisque;
  margin-top: 2rem;
  margin-inline: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#add_button {
  anchor-name: --add_button;
}

#add_menu {
  position: absolute;
  position-anchor: --add_button;

  & ul {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    flex: 1;

    &>* {
      flex: 1;
    }
  }
}

table {
  background-color: beige;
  margin: 0.25rem;

  & .select,
  & .icon {
    white-space: nowrap;
    width: 0;
  }

  &>tbody {

    &>tr {
      &>.select {
        display: none;
      }

      &:hover>.select {
        display: block;
      }
    }

  }
}