:root {
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}

/* dialog {
  padding: 0;
  margin: 0;
} */

li {
  list-style: none;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: antiquewhite;
}

#explorer {
  background-color: bisque;
  margin-top: 2rem;
  margin-inline: max(5%, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#add_button {
  anchor-name: --add_button;
}

#add_menu {
  position: absolute;
  position-anchor: --add_button;
  position-area: bottom;

  &>div {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    flex: 1;

    &>* {
      flex: 1;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;

  &>*:before {
    content: "/";
  }
}

#select_toolbar:not([hidden]) {
  display: flex;
  align-items: center;
}

table {
  background-color: beige;
  margin: 0.5rem;
  border-spacing: 0;

  & .select,
  & .icon {
    white-space: nowrap;
    width: 0;
  }

  &>tbody {

    &>tr {
      &>.select {
        opacity: 0;

        &:has(input:checked) {
          opacity: 1;
        }
      }

      &:hover {
        background-color: brown;
      }

      &.file:hover,
      &.folder:hover {


        &>.file_name span:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        &>.select {
          opacity: 1;
        }
      }
    }

  }
}