<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <nav id="top">
    <button id="add_button" popovertarget="add_menu">+ Add</button>
    <form action="/drive" method="GET" id="search">
      <input type="text" name="query" id="query" placeholder="Search">
    </form>
  </nav>
  <main id="explorer">
    <dialog id="add_menu" popover>
      <nav>
        <ul>
          <li><input type="button" class="folder" value="Folder"/></li>
          <li>
            <form action="/drive" method="POST" enctype="multipart/form-data">
              <input type="file" class="file" name="file" />
              <button type="submit">Send</button>
            </form>
          </li>
        </ul>
      </nav>
    </dialog>
    <dialog id="new_folder">
      <form action="/drive" method="POST" enctype="multipart/form-data">
        <h3>Create a new folder</h3>
        <input type="text" name="file" id="file" placeholder="Folder Name">
        <button type="submit" class="create">Create</button>
        <button class="cancel">Cancel</button>
      </form>
    </dialog>
    <h3>My files and folders</h3>
    <table id="files">
      <thead>
        <tr>
          <td class="select"><input type="checkbox" name="select_all" id="select_all"></td>
          <td class="icon"></td>
          <td id="name">Name</td>
          <td id="size">Size</td>
        </tr>
      </thead>
      <tbody>
        <% if (files.length > 0) {%>
          <% files.forEach(file => { %>
            <tr>
              <td class="select"><input type="checkbox"></td>
              <td class="icon"><img class="file_icon" alt="File/Folder Icon"></img></td>
              <td class="file_name"><%= file.name %></td>
              <td class="file_size"><%= file.sizeBytes %></td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr><td colspan="4">No files uploaded.</td></tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <script>
    const newFolderDialog = document.querySelector("#new_folder");

    const newFolderForm = newFolderDialog.querySelector("form");
    
    // const newFileForm = document.querySelector("#add_menu form");

    const newFolderButton = document.querySelector("#add_menu .folder");

    const cancelFolderButton = newFolderDialog.querySelector(".cancel");

    newFolderButton.addEventListener("click", () => newFolderDialog.showModal());

    cancelFolderButton.addEventListener("click", () => newFolderDialog.close());

    // newFolderForm.addEventListener("submit", e => {
    //   e.preventDefault();
    // })

    // newFileForm.addEventListener("submit", e => {
    //   e.preventDefault();
    // })
  </script>
</body>

</html>